.featurettes {
	position: relative;
}

.featurettes h4 {
	font-family: "Varela Round", sans-serif;
}

.featurettes h1 {
	font-family: "Carter One", cursive;
	color: grey;
}

.lead {
	font-family: "Varela Round", sans-serif;
	padding: 10px 30px;
	text-align: justify;
}

.company-inf h2 {
	font-family: "Carter One", cursive;
}
.company-inf h4,
p {
	font-family: "Varela Round", sans-serif;
}

.team h2 {
	font-family: "Carter One", cursive;

	padding: 20px;
	color: blue;
	text-shadow: 1px 1px grey;
}

.team p {
	font-family: "Varela Round", sans-serif;
}
